%div{id: "encounter-#{encounter.id}", class: "tab-pane #{first_id == encounter.id ? 'active' : ''}"}

  %h4 Players

  %table.entities.damage
    %thead
      %tr
        %th.name
          Entity
        %th
          Max Hit
        %th
          DPS
        %th
          Total Damage
      = render partial: 'entity_row', collection: sorted_by_total_and_type(:total_damage, encounter.player_entities), locals: {type: :damage}
  
  %table.entities.healing
    %thead
      %tr
        %th.name
          Entity
        %th
          Max Heal
        %th
          HPS
        %th
          Total Healing
      = render partial: 'entity_row', collection: sorted_by_total_and_type(:total_healing, encounter.player_entities), locals: {type: :healing}

  %h4 Mobs

  %table.entities.damage
    %thead
      %tr
        %th.name
          Entity
        %th
          Max Hit
        %th
          DPS
        %th
          Total Damage
      = render partial: 'entity_row', collection: sorted_by_total_and_type(:total_damage, encounter.mob_entities), locals: {type: :damage}
  
  %table.entities.healing
    %thead
      %tr
        %th.name
          Entity
        %th
          Max Heal
        %th
          HPS
        %th
          Total Healing
      = render partial: 'entity_row', collection: sorted_by_total_and_type(:total_healing, encounter.mob_entities), locals: {type: :healing}