%tr{class: "#{entity_row.name} entity_row"}
  %td= entity_row.name
  - case type
  - when :damage
    %td= entity_row.total_damage
    %td= entity_row.max_damage
  - when :healing
    %td= entity_row.total_healing


