.span12.log-name
  %h2= @combat_log.file_name
.span12.log-name-spacer
  %h2= @combat_log.file_name
.tabbable.tabs-left
  .encounter-tabs.span3
    %ul.nav.nav-tabs
      - @combat_log.encounters.each_with_index do |encounter, i|
        %li{class: i.zero? ? 'active' : '' }
          %a{href: "#encounter-#{encounter.id}", :'data-toggle' => 'tab'}
            = "#{simple_time_format(encounter.start_time)}"
            .mobs
              - encounter.mob_entities.collect(&:name).each do |name|
                %ul
                  %li= name
  .span3
    &nbsp;
  .span9.tab-content
    .encounters
      = render partial: 'encounter', collection: @combat_log.encounters, locals: {first_id: (!@combat_log.encounters.empty? and @combat_log.encounters.first.id)}
